{% extends "master.html" %}
{% load static %}

{% block title %}Vehicle{% endblock %}

<!-- Custom Plugins CSS -->
{% block PluginsCSS %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/vendors/jquery.dataTables.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/vendors/select.bootstrap5.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/vendors/sweetalert2.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/vendors/select/bootstrap-select.min.css" %}">
{% endblock %}
<!--End Custom Plugins CSS -->

{% block LeafletLink %}
    <!--Google Key-->
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyN4NVgaHV6-AbuAdWqSBM07iay6gbfKc&libraries=places"></script>

    <!--leaflet js library style link -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet"
          href="{% static 'assets/script/jslib/leaflet/plugins/PolylineMeasure/Leaflet.PolylineMeasure.css' %}"/>
    <link rel="stylesheet"
          href="{% static 'assets/script/jslib/leaflet/plugins/styledLayerControl/styledLayerControl.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>
{% endblock %}

{% block css %}

    .default-map-js-height{
    height: 725px;
    {#    width: 100vw;#}
    {#    height: 100vh;#}
    }
    .filter-companies .accordion-item {
    border: 1px solid #e9edf1;
    }

    .main-file-sidebar .md-sidebar .md-sidebar-aside .common-sort-card .files-left-icons li a svg {
    width: 24px;
    height: 24px;
    }

    .border-tb-l-radius {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    }

    .main-file-sidebar .md-sidebar .md-sidebar-aside .common-sort-card .files-left-icons li {
    margin-bottom: 10px;
    }

    .main-file-sidebar .md-sidebar .md-sidebar-aside .common-sort-card .files-left-icons li a {
    padding: 6px 10px
    }

    .common-space {
    justify-content: normal;
    }

    .course-box .card-body {
    padding: 10px 15px;
    }

{% endblock %}

<!-- Header Page Hierarchy-->
{% block breadcrumb %}
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-sm-6">
                    {#        <h3>{{breadcrumb.title}} </h3>#}
                    <h3>Vehicle Sync</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index">
                            <svg class="stroke-icon">
                                <use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-home"></use>
                            </svg>
                        </a></li>
                        {#          <li class="breadcrumb-item">{{breadcrumb.parent}}</li>#}
                        <li class="breadcrumb-item">Vehicle</li>
                        <li class="breadcrumb-item active">Sync</li>
                        {#          <li class="breadcrumb-item active">{{breadcrumb.child}}</li>#}
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- Header Page Hierarchy-->

{% block content %}

    <!-- Container-fluid starts-->
    <div class="container-fluid main-companies">

        <div class="row widget-grid">

            <div class="col-xl-4 col-hr-6 col-sm-6">
                <div class="card widget-11 widget-hover ">
                    <div class="card-body">
                        <div class="common-align justify-content-start">
                            <div class="analytics-tread bg-light-primary">
                                <svg class="fill-primary">
                                    <use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-progress-delivery"></use>
                                </svg>
                            </div>
                            <div><span class="c-o-light">Total Vehicle</span>
                                <h4 class="counter"
                                    data-target="{{ vehicle_list|length }}">{{ vehicle_list|length }}</h4></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-hr-6 col-sm-6">
                <div class="card widget-11 widget-hover ">
                    <div class="card-body">
                        <div class="common-align justify-content-start">
                            <div class="analytics-tread bg-light-success">
                                <svg class="fill-success">
                                    <use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-progress-delivery"></use>
                                </svg>
                            </div>
                            <div><span class="c-o-light">Active Vehicle</span>
                                <h4 class="counter" id="h_vehicle_active">356</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-hr-6 col-sm-6">
                <div class="card widget-11 widget-hover ">
                    <div class="card-body">
                        <div class="common-align justify-content-start">
                            <div class="analytics-tread bg-light-danger">
                                <svg class="fill-danger">
                                    <use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-progress-delivery"></use>
                                </svg>
                            </div>
                            <div><span class="c-o-light">Block Vehicle</span>
                                <h4 class="counter" id="h_vehicle_block">0</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-12 ord-md-iii">
                <div class="card o-hidden">
                    <style>
                        .analytics-widget img {
                            height: 100px;
                        }
                    </style>
                    <div class="card-body analytics-widget">
                        <div class="row g-md-4 g-2">
                            <div class="col-sm-9 m-t-15">
                                <h5 class="card-title">Vehicle Data Retrieve From System </h5>
                                <p class="card-text c-o-light">
                                    Note. if tracker installed successfully in any vehicle. you must sync latest data
                                    from system.
                                </p>
                                <form method='post' action='' accept-charset='utf-8'
                                      enctype="multipart/form-data" autocomplete="off">

                                    {% csrf_token %}
                                    <input type="hidden" id="action_type" name="action_type" value="vehicle-sync"/>
                                    <button class="btn btn-info" type="submit">
                                        <i class="fa-solid fa-arrows-rotate me-1"></i>
                                        Sync Vehicle
                                    </button>

                                </form>
                            </div>
                            <div class="col-sm-3 m-t-15">
                                <img class="img-fluid"
                                     src="{% static 'assets/images/dashboard-9/widget.svg' %}"
                                     alt="Analytics Chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row general-widget-wrapper">

            <div class="col-sm-3 col-xl-3 col-lg-3 box-col-3">
                <div class="card course-box">
                    <div class="card-body">
                        <div class="course-widget">
                            <div class="course-icon">
                                <svg class="fill-icon">
                                    <use href="{% static 'assets/svg/icon-sprite.svg' %}#stroke-progress-delivery"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="mb-0">
                                    <span class="counter" data-target="100">100</span>+
                                </h4>
                                <span class="f-light">Retrieve Data</span>
                                <a class="btn btn-light f-light" href="course-list-view.html">
                                    View Vehicle
                                    <span class="ms-2">
                                        <svg class="fill-icon f-light">
                                            <use href="{% static 'assets/svg/icon-sprite.svg' %}#arrowright"></use>
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="square-group">
                        <li class="square-1 warning"></li>
                        <li class="square-1 primary"></li>
                        <li class="square-2 warning1"></li>
                        <li class="square-3 danger"></li>
                        <li class="square-4 light"></li>
                        <li class="square-5 warning"></li>
                        <li class="square-6 success"></li>
                        <li class="square-7 success"></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3 col-lg-3 box-col-3">
                <div class="card course-box">
                    <div class="card-body">
                        <div class="course-widget">
                            <div class="course-icon warning">
                                <svg class="fill-icon">
                                    <use href="{% static 'assets/svg/icon-sprite.svg' %}#course-2"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="mb-0"><span class="counter" data-target="80">80</span>+</h4><span
                                    class="f-light">Inserted Data</span>
                                <a class="btn btn-light f-light" href="course-list-view.html">
                                    View Type<span class="ms-2">
                                            <svg class="fill-icon f-light">
                                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#arrowright"></use>
                                            </svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="square-group">
                        <li class="square-1 warning"></li>
                        <li class="square-1 primary"></li>
                        <li class="square-2 warning1"></li>
                        <li class="square-3 danger"></li>
                        <li class="square-4 light"></li>
                        <li class="square-5 warning"></li>
                        <li class="square-6 success"></li>
                        <li class="square-7 success"></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3 col-lg-3 box-col-3">
                <div class="card course-box">
                    <div class="card-body">
                        <div class="course-widget">
                            <div class="course-icon warning">
                                <svg class="fill-icon">
                                    <use href="{% static 'assets/svg/icon-sprite.svg' %}#course-2"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="mb-0"><span class="counter" data-target="80">80</span>+</h4><span
                                    class="f-light">Update Data</span>
                                <a class="btn btn-light f-light" href="course-list-view.html">
                                    View Type<span class="ms-2">
                                            <svg class="fill-icon f-light">
                                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#arrowright"></use>
                                            </svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="square-group">
                        <li class="square-1 warning"></li>
                        <li class="square-1 primary"></li>
                        <li class="square-2 warning1"></li>
                        <li class="square-3 danger"></li>
                        <li class="square-4 light"></li>
                        <li class="square-5 warning"></li>
                        <li class="square-6 success"></li>
                        <li class="square-7 success"></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 col-xl-3 col-lg-3 box-col-3">
                <div class="card course-box">
                    <div class="card-body">
                        <div class="course-widget">
                            <div class="course-icon warning">
                                <svg class="fill-icon">
                                    <use href="{% static 'assets/svg/icon-sprite.svg' %}#course-2"></use>
                                </svg>
                            </div>
                            <div>
                                <h4 class="mb-0"><span class="counter" data-target="80">80</span>+</h4><span
                                    class="f-light">No-Change</span>
                                <a class="btn btn-light f-light" href="course-list-view.html">
                                    View Type<span class="ms-2">
                                            <svg class="fill-icon f-light">
                                              <use href="{% static 'assets/svg/icon-sprite.svg' %}#arrowright"></use>
                                            </svg></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <ul class="square-group">
                        <li class="square-1 warning"></li>
                        <li class="square-1 primary"></li>
                        <li class="square-2 warning1"></li>
                        <li class="square-3 danger"></li>
                        <li class="square-4 light"></li>
                        <li class="square-5 warning"></li>
                        <li class="square-6 success"></li>
                        <li class="square-7 success"></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="row candidate-wrapper">
            <div class="col-12">
                <div class="card">
                    <div class="card-body candidates-box px-0">
                        <div class="table-responsive custom-scrollbar">
                            <table class="table" id="candidates-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Candidate Name</th>
                                    <th>Description</th>
                                    <th>Educations</th>
                                    <th>Experience & Skills</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="common-flex align-items-center">
                                            <div class="position-relative">
                                                <img class="img-fluid rounded-circle"
                                                     src="{% static 'assets/images/dashboard/user/12.png' %}"
                                                     alt="user">
                                                <div class="status">
                                                    <div class="inner-dot bg-success"></div>
                                                </div>
                                            </div>
                                            <div><a class="f-w-500" href="#!">Margo Harrell</a>
                                                <p>Texas,US</p>
                                            </div>
                                        </div>
                                        <div class="common-f-start">
                                            <div class="attachment"><i class="fa-solid fa-paperclip"></i><span>03 Projects</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <ul class="candidate-desc">
                                            <li>
                                                <h6>Software Engineer</h6>
                                            </li>
                                            <li>
                                                <h6 class="c-light">Salary Range: <span class="f-14">$40000-80000</span>
                                                </h6>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="educations">
                                            <li>
                                                <p class="mb-0">Bachelor's Degree 2011-2013</p>
                                                <p class="mb-0">High School 2009-2010</p>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="candidate-skill">
                                            <li>
                                                <p class="mb-2">Experience : <span>Fresher</span></p>
                                            </li>
                                            <li>
                                                <div class="common-flex"><span
                                                        class="badge badge-light-primary">Java</span><span
                                                        class="badge badge-light-warning">C#</span><span
                                                        class="badge badge-light-secondary">Kotlin</span><span
                                                        class="badge badge-light-success">.NET</span></div>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <Button class="btn btn-primary" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Message"><i
                                                    class="fa-solid fa-envelope"></i></Button>
                                            <Button class="btn btn-success" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Approve"><i
                                                    class="fa-solid fa-thumbs-up"></i></Button>
                                            <Button class="btn btn-danger" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Reject"><i
                                                    class="fa-solid fa-circle-xmark"></i></Button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="common-flex align-items-center">
                                            <div class="position-relative">
                                                <img class="img-fluid rounded-circle"
                                                     src="{% static 'assets/images/dashboard/user/12.png' %}"
                                                     alt="user">
                                                <div class="status">
                                                    <div class="inner-dot bg-warning"></div>
                                                </div>
                                            </div>
                                            <div><a class="f-w-500" href="#!">Warren Buck</a>
                                                <p>Beijing,China</p>
                                            </div>
                                        </div>
                                        <div class="common-f-start">
                                            <div class="attachment"><i class="fa-solid fa-paperclip"></i><span>06 Projects</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <ul class="candidate-desc">
                                            <li>
                                                <h6>DevOps Engineer</h6>
                                            </li>
                                            <li>
                                                <h6 class="c-light">Salary Range: <span
                                                        class="f-14">$120000-$340000</span>
                                                </h6>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="educations">
                                            <li>
                                                <p class="mb-0">Bachelor's Degree 2009-2012</p>
                                                <p class="mb-0">High School 1999-2008</p>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="candidate-skill">
                                            <li>
                                                <p class="mb-2">Experience : <span>3+ Year</span></p>
                                            </li>
                                            <li>
                                                <div class="common-flex"><span
                                                        class="badge badge-light-primary">Docker</span><span
                                                        class="badge badge-light-warning">Kubernetes</span><span
                                                        class="badge badge-light-secondary">Jenkins</span><span
                                                        class="badge badge-light-success">CI/CD</span></div>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <Button class="btn btn-primary" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Message"><i
                                                    class="fa-solid fa-envelope"></i></Button>
                                            <Button class="btn btn-success" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Approve"><i
                                                    class="fa-solid fa-thumbs-up"></i></Button>
                                            <Button class="btn btn-danger" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Reject"><i
                                                    class="fa-solid fa-circle-xmark"> </i></Button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="common-flex align-items-center">
                                            <div class="position-relative">
                                                <img class="img-fluid rounded-circle"
                                                     src="{% static 'assets/images/dashboard/user/12.png' %}"
                                                     alt="user">
                                                <div class="status">
                                                    <div class="inner-dot bg-danger"></div>
                                                </div>
                                            </div>
                                            <div><a class="f-w-500" href="#!">Derek Pollard</a>
                                                <p>Bahia,Brazil</p>
                                            </div>
                                        </div>
                                        <div class="common-f-start">
                                            <div class="attachment"><i class="fa-solid fa-paperclip"></i><span>02 Projects</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <ul class="candidate-desc">
                                            <li>
                                                <h6>Project Manager</h6>
                                            </li>
                                            <li>
                                                <h6 class="c-light">Salary Range: <span
                                                        class="f-14">$2000-$3000</span></h6>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="educations">
                                            <li>
                                                <p class="mb-0">Bachelor's Degree 2017-2019</p>
                                                <p class="mb-0">High School 2003-2016</p>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="candidate-skill">
                                            <li>
                                                <p class="mb-2">Experience : <span>Fresher</span></p>
                                            </li>
                                            <li>
                                                <div class="common-flex"><span
                                                        class="badge badge-light-primary">Project Planning</span><span
                                                        class="badge badge-light-warning">Agile</span><span
                                                        class="badge badge-light-secondary">Risk Management</span><span
                                                        class="badge badge-light-success">Stakeholder Management</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <Button class="btn btn-primary" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Message"><i
                                                    class="fa-solid fa-envelope"></i></Button>
                                            <Button class="btn btn-success" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Approve"><i
                                                    class="fa-solid fa-thumbs-up"></i></Button>
                                            <Button class="btn btn-danger" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Reject"><i
                                                    class="fa-solid fa-circle-xmark"> </i></Button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#        <div class="row">#}
        {#            <div class="col-12 user-list-wrapper">#}
        {#                <div class="card">#}
        {#                    <style>#}
        {#                        .user-list-wrapper .user-list-table div.dt-container .dt-layout-row .dt-search {#}
        {#                            right: 20px;#}
        {#                        }#}
        {#                    </style>#}
        {#                    <div class="card-header card-no-border text-end pb-5">#}
        {#                    </div>#}
        {#                    <div class="card-body pt-0 px-0">#}
        {#                        <div class="list-product user-list-table recent-table task-table">#}
        {#                            <div class="table-responsive custom-scrollbar ">#}
        {#                                <table class="table" id="vehicle-list">#}
        {#                                    <thead>#}
        {#                                    <tr>#}
        {#                                        <th><span class="c-o-light f-w-600">#</span></th>#}
        {#                                        <th><span class="c-o-light f-w-600">Vehicle ID</span></th>#}
        {#                                        <th><span class="c-o-light f-w-600">Register No.</span></th>#}
        {#                                        <th><span class="c-o-light f-w-600">Type</span></th>#}
        {#                                        <th><span class="c-o-light f-w-600">Status</span></th>#}
        {#                                        <th><span class="c-o-light f-w-600">Sync</span></th>#}
        {#                                                                                <th><span class="c-o-light f-w-600">Action</span></th>#}
        {#                                    </tr>#}
        {#                                    </thead>#}
        {#                                    <tbody class="main-task-wrapper">#}
        {##}
        {#                                    <script>#}
        {#                                        let vehicle_active = 0;#}
        {#                                        let vehicle_block = 0;#}
        {#                                        let vehicle_total = 0;#}
        {#                                    </script>#}
        {#                                    {% for data in vehicle_list %}#}
        {##}
        {#                                        <tr class="product-removes inbox-data">#}
        {#                                            <th scope="row"#}
        {#                                                class="xsm-text text-capitalize align-middle">#}
        {#                                                {{ forloop.counter }}kkkkk#}
        {#                                            </th>#}
        {#                                            <td>#}
        {#                                                <p><b>{{ data.vehicle_code }}</b></p>#}
        {#                                            </td>#}
        {#                                            <td>#}
        {#                                                <p><b>{{ data.register_no }}</b></p>#}
        {#                                            </td>#}
        {#                                            <td>#}
        {#                                                <p>{{ data.vehicle_type }}</p>#}
        {#                                            </td>#}
        {#                                            <td>#}
        {#                                                {% if data.status == "Active" %}#}
        {#                                                    <button class="btn badge-light-primary">Active</button>#}
        {#                                                {% else %}#}
        {#                                                    <button class="btn badge-light-light disabled">Inactive</button>#}
        {#                                                {% endif %}#}
        {#                                            </td>#}
        {#                                            <td>#}
        {#                                                <button class="btn button-light-success txt-success f-w-500">Delivered#}
        {#                                                </button>#}
        {#                                            </td>#}
        {#                                            <td>#}
        {#                                                <p class="p-b-0" style="line-height: 1;">Kilometer:#}
        {#                                                    <b>{{ data.line_length_km }}</b></p>#}
        {#                                                <p class="p-b-0" style="line-height: 1;">Meter:#}
        {#                                                    <b>{{ data.line_length_m }}</b></p>#}
        {#                                            </td>#}
        {#                                            <script>#}
        {#                                                var vehicle_status = '{{ data.status }}';#}
        {#                                                if (vehicle_status === "Active") {#}
        {#                                                    vehicle_active++;#}
        {#                                                } else {#}
        {#                                                    vehicle_block++;#}
        {#                                                }#}
        {#                                            </script>#}
        {#                                        </tr>#}
        {##}
        {#                                    {% endfor %}#}
        {#                                    <script>#}
        {##}
        {#                                        document.getElementById("h_vehicle_active").innerHTML = vehicle_active.toLocaleString();#}
        {#                                        document.getElementById("h_vehicle_block").innerHTML = vehicle_block.toLocaleString();#}
        {##}
        {#                                    </script>#}
        {#                                    </tbody>#}
        {#                                </table>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

    </div>
    <!-- Container-fluid Ends-->

{% endblock %}

<!-- Plugins JS start-->
{% block PluginsJS %}

    <script src="{% static "assets/js/datatable/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "assets/js/datatable/datatables/dataTables.js" %}"></script>
    <script src="{% static "assets/js/datatable/datatables/dataTables.select.js" %}"></script>
    <script src="{% static "assets/js/datatable/datatables/select.bootstrap5.js" %}"></script>
    <script src="{% static "assets/js/datatable/datatables/datatable.custom.js" %}"></script>
    <script src="{% static "assets/js/sweet-alert/sweetalert.min.js" %}"></script>

    <script src="{% static "assets/js/flat-pickr/flatpickr.js" %}"></script>
    <script src="{% static "assets/js/flat-pickr/custom-flatpickr.js" %}"></script>
    <script src="{% static "assets/js/select/bootstrap-select.min.js" %}"></script>
    <script src="{% static "assets/js/tooltip-init.js" %}"></script>

{% endblock %}
<!-- Plugins JS Ends-->

{% block LeafletJS %}
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
    <script src="{% static 'assets/script/jslib/leaflet/plugins/GoogleMutant/Leaflet.GoogleMutant.js' %}"></script>
    <script src="{% static 'assets/script/jslib/leaflet/plugins/measure/L.MeasuringTool.js' %}"></script>
    <script src="{% static 'assets/script/jslib/leaflet/plugins/PolylineMeasure/Leaflet.PolylineMeasure.js' %}"></script>
    <script src="{% static 'assets/script/jslib/leaflet/plugins/styledLayerControl/styledLayerControl.js' %}"></script>
    <!-- Dependency to Leaflet Draw -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    <script src="https://npmcdn.com/leaflet.path.drag/src/Path.Drag.js"></script>
    <script src="{% static "assets/script/jslib/leaflet/plugins/Editable/Leaflet.Editable.js" %}"></script>
    <script src="{% static "assets/script/jslib/leaflet/plugins/Snap/leaflet.geometryutil.js" %}"></script>
    <script src="{% static "assets/script/jslib/leaflet/plugins/Snap/leaflet.snap.js" %}"></script>

    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

{% endblock %}

<!-- Custom JS -->
{% block CustomerJS %}
    <script src="{% static "assets/script/include/DigitalArz.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/script/include/TOCLayerModel.js" %}" type="text/javascript"></script>
    {#    <script src="{% static "js/RouteModel.js" %}" type="text/javascript"></script>#}
    <script src="{% static "assets/app_js/VehicleModel.js" %}" type="text/javascript"></script>
    <script src="{% static "assets/app_js/ReportModel.js" %}" type="text/javascript"></script>
    <script>

        let DigitalArzModelJS = null;
        let TOCLayerModelJS = null;
        {#let RouteModelJS = null;#}
        let ReportModelJS = null;
        let VehicleModelJS = null;

        {#let vehicle_list_with_type_code = '{% url "VehicleListWithTypeCode" %}';#}
        {#let fetch_container_feature_process_type_data = '{% url "FetchContainerFeatureData_ProcessType" %}';#}
        {#let fetch_single_vehicle_trip_history_data = '{% url "FetchSingleVehicleTripHistoryData" %}';#}

        $(document).ready(function () {

            ReportModelJS = new AppReportModel();
            ReportModelJS.appConstructor("VehicleHistory");

            VehicleModelJS = new AppVehicleModel();
            VehicleModelJS.appConstructor();

            //// MAPPING MODEL JS
            DigitalArzModelJS = new AppDigitalArzModel("create-container-map");
            if (DigitalArzModelJS.map === null) {
                DigitalArzModelJS.LoadMap("true", "");

                let district_extent = '{{ container_extent.extent }}';
                {#alert(district_extent);#}
                ////  THIS FUNCTION IS USED TO ZOOM THE LAYER  /////
                DigitalArzModelJS.ZoomToFeature("", district_extent);

                //// TOC LAYER MODEL LAYER DEFINE
                TOCLayerModelJS = new AppTOCLayerModel();
                TOCLayerModelJS.appConstructor();

                {#//// DISPLAY TOWN BOUNDARY ////#}
                {#TOCLayerModelJS.DisplayTownBoundaryLayer();#}
                {##}
                {#//// DISPLAY ZONE BOUNDARY ////#}
                {#TOCLayerModelJS.DisplayZoneBoundaryLayer();#}
                {##}
                {#//// DISPLAY UC BOUNDARY ////#}
                {#TOCLayerModelJS.DisplayUCBoundaryLayer();#}


                {#//// FETCH CONTAINER FEATURE BASED ON PROCESS TYPE#}
                {#TOCLayerModelJS.FetchContainerFeatureData_ProcessType();#}

                {#//// FETCH ROAD NETWORK SCHEDULE FEATURE#}
                {#TOCLayerModelJS.FetchRouteNetworkScheduleFeature();#}

            }

            {#//// ONCHANGE FUNCTION FILL VEHICLE LIST#}
            {#$("#cmd_vehicle_type").change(function (e) {#}
            {#    let selected_value = e.target.value;#}
            {#    //// FETCH VEHICLE LIST BY VEHICLE TYPE#}
            {#    VehicleModelJS.VehicleListWithTypeCodeView("cmd_vehicle_list", selected_value, "");#}
            {# });#}

        }); //// DOCUMENT READY CLOSE

    </script>
{% endblock %}
<!-- End Custom JS -->